.fa-facebook, .fa-twitter, .fa-linkedin, .fa-google-plus, .fa-envelope{
    color: white;
    background-color: #cb4154;
}
.fa {
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 25%;
    margin-left: 20px;
  }
.fa:hover {
    opacity: 0.7;
  }
.followF{
    color: white;
   display: flex;
   width: 300px;
   justify-content: space-between;
   margin-left: -30px;
  }
.pos{
   margin-top: 800px;
}
.s{
    font-size: 20px;
}
footer{
    margin:5px;
}




@media only screen and (max-width: 450px){
  .social{
    margin-left: -30px;
    margin-top: 20px;
  }
  .phonePart{
    margin-top: 30px;
  }
 
  .followF{
   display: flex;
   height: 50px;
   justify-content: center;
   flex-direction: column;
   text-align: center;
   margin-left: 30px;
  }
}




@media only screen and (min-width: 450px) and (max-width: 767px){
 

 
  .followF{
   display: flex;
   height: 50px;
   justify-content: space-between;
   flex-direction: row;
   text-align: center;
   margin-left: 30px;
  }
}