

/* carousel */
.media-carousel 
{
  margin-bottom: 10;
  padding: 0px 20px 0px 180px;
  margin-top: 30px;
}


/* here is custom styling */
.web_disigner {
  background: #cb4154;
  min-height: 200px; }
  .web_disigner .web_disigner_contain {
    padding: 10px 10px; }
  .web_disigner .parent_circle {
    background: #fff none repeat scroll 0 0;
    border: 15px solid #80111f;
    border-radius: 50%;
    height: 230px;
    width: 230px;
    display: table;
    position: relative; }
    .web_disigner .parent_circle .parent_circle_contain {
      display: table-cell;
      vertical-align: middle;
      font-size: 15px;
      text-align: center;
    
      font-weight: 900; }
    .web_disigner .parent_circle .child_round_circle {
      border: 15px solid #6b0311;
      border-radius: 50%;
      height: 120px;
      left: 125px;
      position: absolute;
      top: -50px;
      width: 120px; }
    .web_disigner .parent_circle .child_round_circle_img1 {
      background-image: url("./images/maalak.jpg");
      background-size: 100%; }
    .web_disigner .parent_circle .child_round_circle_img2 {
      background-image: url("./images/sandraa.jpg");
      background-size: 100%;
      }
    .web_disigner .parent_circle .child_round_circle_img3 {
      background-image: url("./images/ahmadd.jpg");
      background-size: 100%; }
    .web_disigner .parent_circle .child_round_circle_img4 {
      background-image: url("./images/mahmoud.jpg");
      background-size: 100%; }
   

.padtop30 {
  padding-top: 50px; }
  
  /* here is our responsive css */
  
  @media only screen and (max-width: 360px) 
{
  .web_disigner .parent_circle .child_round_circle{
      border: 15px solid #6b0311;
      border-radius: 50%;
      height: 100px;
      left: 100px;
      position: absolute;
      top: -38px;
      width: 100px;
      }

  .media-carousel .carousel-control.left{
    margin-top: 290px;}

  .media-carousel .carousel-control.right{
    margin-top: 290px;}

  
}
  
  

/* End carousel */